.pro-alert{
    position:fixed;
    padding: 0.5rem 1rem;
    max-width: 40%;
    display: none;
}
@media screen and (max-width:767px){
    .pro-alert{
        max-width: 320px;
    } 
}
/* Positions of Alert */
.pro-alert-tr{
    top:10vh;
    right:0;
}

.pro-alert-br{
    bottom:10vh;
    right:0;
}

.pro-alert-tl{
    top:10vh;
    left:0;
}

.pro-alert-bl{
    bottom:10vh;
    left:0;
}

/* Colors for the Alert */
.alert-blue{
    background-color:rgba(37, 111, 223, 0.7);
    color:white;
    /* box-shadow: 0 0 3px #999; */
}

.alert-red{
    background-color:rgba(223, 37, 46, 0.7);
    color:white;
    /* box-shadow: 0 0 3px #999; */
}